@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customizações */
body {
  @apply bg-gray-50 text-gray-900;
}

.card-menu{
  @apply p-6 bg-secondary rounded
  hover:border-terciary hover:border-4 hover:border-solid
  transition-all duration-100 ease-in hover:scale-105 shadow
  font-bold
  flex items-center justify-center
  w-full max-w-sm min-h-[100px] min-w-[350px]
}

nav ul{
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
nav li{
  display: inline-block;
  margin: 0 20px;
  color: white;
  font-weight: bold;
}

nav li:hover{
  color: #facc15;
}

.active{
  color: #facc15;
}